.container {
  width: 100vw;
  height: 100vh;
  padding: 10px;
}
.input-container {
  margin: auto;
  width: 50%;
}
::ng-deep {
  .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.example-viewport {
  height: 800px;
  width: 100%;
  border: 1px solid black;
}
.image-container__search-field {
  margin-right: 20px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.image-container {
  flex: 0 21%;
  height: 200px;
  margin-bottom: 4%;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.image {
  max-width:  200px;
  max-height: 200px;
  background-size: cover;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}
