<div class="container">
    <div class="header">
        <div class="input-container">
        <mat-form-field class="image-container__search-field">
            <mat-label>Search for images</mat-label>
            <input matInput type="text" #inputElement />
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="onClick($event)">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
            <mat-form-field>
                <mat-label>History</mat-label>
                <mat-select [formControl]="searchHistory" multiple>
                    <mat-option *ngFor="let history of searchHistoryList" [value]="history">{{history}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button aria-label="Save search" (click)="onSaveSearch(inputElement.value)">
                Save Search
            </button>
            <button mat-button aria-label="Save search" (click)="onSearchHistory()">
                Search History
            </button>
            <mat-radio-group *ngIf="searchHistory.value" aria-label="Select an option" [(ngModel)]="condition">
                <mat-radio-button [value]="Condition.And">And</mat-radio-button>
                <mat-radio-button [value]="Condition.Or">Or</mat-radio-button>
            </mat-radio-group>
        </div>

    </div>
    <div class="content">

        <div class="image-container" *ngFor="let image of $images | async" infiniteScroll
             [infiniteScrollDistance]="2"
             [infiniteScrollThrottle]="50"
             (scrolled)="onScroll()">
            <img class="image" [src]="image.url" [alt]="image.title">
        </div>
<!--        <mat-grid-list cols="5" rowHeight="1:1">-->
<!--            <mat-grid-tile colspan="1" rowspan="1" *ngFor="let image of $images | async">-->

<!--                <mat-card class="example-card">-->
<!--                    <mat-card-header>-->
<!--                        <div mat-card-avatar class="example-header-image"></div>-->
<!--                        <mat-card-title>{{value}}</mat-card-title>-->
<!--                        <mat-card-subtitle>{{image.title}}</mat-card-subtitle>-->
<!--                    </mat-card-header>-->
<!--                    -->
<!--                </mat-card>-->
<!--            </mat-grid-tile>-->
<!--        </mat-grid-list>-->
    </div>
</div>
